.contact{
    .contact__step{
        margin-top: 87px;
        &-line{
            position: relative;
            max-width: 565px;
            margin: auto;
            &::before{
                @extend %pos-center;
                width: 65%;
                height: 1px;
                top: 24px;
                z-index: -1;
                background-color: #EBEBEB;
            }
        }
    }
    &__step{
        text-align: center;
        &-item{
            @include fontSize(16px);
            font-weight: bold;
            p{
                color: #603813;
                @include media-sp{
                    @include fontSize(15px);
                }
            }
            &.active{
                .numb{
                    border: 1px solid #42210B;
                    background-color: #42210B;
                    color: #fff;
                }
            }
            .numb{
                width: 48px;
                height: 48px;
                border-radius: 100%;
                background-color: #fff;
                border: 1px solid #EBEBEB;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #42210B;
                margin-bottom: 12px;
                position: relative;
                font-weight: 500;
                &::before{
                    @extend %pos;
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    z-index: -1;
                    background-color: #fbfcf5;
                }
            }
        }
        > p{
            font-weight: bold;
            color: #42210B;
            line-height: 1.75;
            margin-top: 45px;
            @include media-sp{
                @include fontSize(15px);
            }
        }
    }
    &__form{
        max-width: 820px;
        margin: auto;
        padding: 0 20px;
        &-row{
            padding: 20px 0;
            border-top: 1px solid #EBEBEB;
            &:last-child{
                border-bottom: 1px solid #EBEBEB;
            }
        }
    }
    &__ttl{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        @include media-sp{
            justify-content: flex-start;
            margin-bottom: 15px;
        }
        > p{
            font-weight: bold;
            @include media-sp{
                margin-right: 10px;
            }
        }
        p{
            @include fontSize(14px);
            letter-spacing: 0.7px;
            color: #42210B;
            margin-bottom: 0;
        }
        .requid{
            @include fontSize(12px);
            letter-spacing: 0;
            color: red;
            padding: 0px 4px;
            border: 1px solid red;
            line-height: 1.4;
            height: 17px;
        }
    }
    &__input{
        &-flex{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @include media-sp{
                margin-bottom: 20px !important;
            }
            p{
                margin-bottom: 0;
                font-weight: bold;
                @include fontSize(13px);
                color: #42210B;
                width: 100px;
                @include media-sp{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
        .input{
            width: 100%;
            border-color: #D3D3CF;
            border-radius: 4px;
            height: 50px;
            &::placeholder{
                color: #434242;
                opacity: 1;
            }
        } 
        .sel-opt{
            height: 50px;
            border-radius: 4px;
            @include media-sp{
                width: 100%;
            }
        }     
    }
    &__email-info{
        > p{
            @include fontSize(13px);
            letter-spacing: 0px;
            color: #939393;
            line-height: 1.5;
        }
    }
    &__private{
        max-width: 820px;
        margin: auto;
        padding: 0 20px;
        margin-top: 40px;
        h4{
            @include fontSize(14px);
            color: #42210B;
        }
        .box-text-scroll{
            background-color: #fff;
            border: 1px solid #EFEFEF;
            border-radius: 4px;
            margin-bottom: 20px;
            p{
                color: #42210B;
            }
            ul, ol{
                li{
                    list-style: none;
                    @include fontSize(14px);
                    color: #42210B;
                    padding-left: 0;
                }
            }
            ol{
                li{
                    list-style: auto;
                    &::marker{
                        font-family: $font_jp;
                    }
                }
            }
        }
        .scrollbar{
            height: 275px;
            width: 100%;
            padding: 22px;
            overflow-y: scroll;

        }
    }
    &__remember{
        &.contact__ttl{
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            .requid{
                margin-right: 20px;
            }
        }
    }
    &-btn{
        .ping{
            max-width: 460px;
            border-radius: 80px;
            justify-content: center;
            margin-bottom: 15px;
        }
    }
    &__form-confirm{
        margin-top: 40px;
        p{
            margin-bottom: 0;
            @include fontSize(15px);
        }
        .contact__ttl{
            margin-top: 0;
        }
        .contact__form-row{
            padding: 30px 0;
        }
        .contact__input-flex{
            display: block;
            p{
                font-weight: 500;
                width: 100%;
            }
        }
    }
    
    #style-1::-webkit-scrollbar {
        width: 10px;
        background-color: #F2EEE8;
    }
    #style-1::-webkit-scrollbar-thumb {
        background-color: #EBEBEB;
        height: 50px;
    }
    ul{
        &.list-style-dot{
            padding-left: 0;
        }
        li{
            @include fontSize(14px);
            color: #434242;
            letter-spacing: 0;
            line-height: 2;
        }
    }
    .sti-dropdw .dropdown .dropdown-menu li{
        padding: 10px 20px 10px 20px;
    }
    .sti-dropdw .dropdown .dropdown-menu{
        margin-top: -6px;
    }
    .sti-dropdw {
        @include media-sp{
            width: 100%;
        }
        .dropdown{
            @include media-sp{
                width: 100%;
            }
        }
    }
}

.contact__input {
    .contact__input-flex .input{
        width: 340px;
        @include media-sp{
            width: 100%;
        }
        &.pass-code{
            width: 100px;
        }
    }
    .sti-dropdw .dropdown{
        margin-right: 0;
        height: 50px;
        .select span{
            @include fontSize(14px);
            font-family: $font_jp;
        }
    }
}
.contact__form-row-note{
    @include fontSize(12px);
    color: #42210B;
    letter-spacing: 0;
    line-height: 1.58;
}


.dropdown.required__checked {
    background-color: #fff !important;
    border-color: #D3D3CF !important;
}
.search-code{
    background-color: #42210B;
    color: #fff;
    border-radius: 30px;
    @include fontSize(13px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 36px;
    margin-left: 18px;
    &:hover{
        color: #fff;
        opacity: 0.8;
    }
}

// confirm
.contact-btn-confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    .default{
        background-color: #44302E;
        color: #fff;
        border-radius: 48px;
        width: 280px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            background: url('../images/icon-defaul-arrow-white.svg') no-repeat;
            left: 14px;
            right: auto;
            transform: rotate(180deg);
        }
    }
    .btn{
        margin: 0 20px;
        @include media-sp{
            margin: 0 5px;
        }
    }
}
.completed{
    margin-top: 50px;
    h4{
        
        @include fontSize(20px);
        margin-bottom: 20px;
        color: #42210B;
    }
    p{
        @include fontSize(15px);
        color: #42210B;
    }
}
.contact__input .error{
    background-color: rgb(252, 243, 243);
    border-color: rgb(242, 194, 202);
}
