@charset "utf-8";
.top-header{
	background-color: #f4f4f4;
}
.header{
	
	&-top{
		&-txt{
			a{
				display: flex;
				align-items: center;
			}
		}
		&-row{
			align-items: center;
			padding: 10px 0;
		}
		&-sns{
			ul{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-bottom: 0;
				li{
					margin: 0 5px;
					width: 25px;
					&:first-child{
						margin-left: 0;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		&-search{
			position: relative;
			input{
				width: 100%;
				border-radius: 18px;
				&:placeholder{
					padding-left: 15px;
				}
			}
			.btn-search{
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	.txt-big{
		font-family: 'Josefin Sans', sans-serif;
		@include fontSize(30px);
   		 text-transform: uppercase;
		text-transform: uppercase;
		color: #33662f;
		font-weight: bold;
		line-height: 1;
		margin-right: 8px;
	}
	.txt-small{
		@include fontSize(15px);
	}
	.cart{
		margin-left: 40px;
	}
}
.nav-menu{
	padding: 10px 0;
	background: #eecf50;
	box-shadow: 0px 4px 8px #999999ba;
	ul{
		padding-left: 0;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		li{
			width: 20%;
			text-align: center;
			.logo{
				margin-bottom: 0;
				img{
					max-width: 55px;
				}
			}
			a{
				span{
					display: block;
					text-align: center;
					font-family: 'Josefin Sans';
					font-size: 11px;
					text-transform: uppercase;
				}
			}
		}
	}
}
.hover-submenu{
	transition: 0.3s all;
	a{
		position: relative;
	}
	&:hover{
		.sub-menu {
			visibility:visible;
			opacity: 1;
		}
		.icon-down{
			opacity: 1;
			visibility: visible;
		}
	}
}
.icon-down{
	width: 50px;
    height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	visibility: hidden;
	opacity: 0;
}
.sub-menu {
	transition: 0.3s all;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    padding: 70px;
	visibility: hidden;
	opacity: 0;
	top: 135px;
}
// slider-top
.slider-top{
	.slick-slide img{
		width: 100%;
		height: 600px !important;
		object-fit: cover;
	}
	.mvSlideArea .slick-arrow {
		cursor: pointer;
		position: absolute;
		bottom: 20px;
		left: 128px;
		transition: opacity 0.6s;
		text-decoration: none;
		z-index: 20;
		&.prev{
			left: 50px;
			span{
				padding-left: 30px;
				
				&::before{
					transform: scale(-1, 1);
				}
				&::after{
					transform: scale(-1, 1);
					right: auto;
					left: 0;
				}
			}
		}
		span{
			font-size: 12px;
			box-sizing: border-box;
			font-weight: 600;
			height: 50px;
			display: flex;
			align-items: center;
			position: relative;
			padding-left: 8px;
			width: 70px;
			&:hover{
				&::after{
					right: -10px;
				}
			}
			&::before{
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: 100%;
				overflow: hidden;
				text-indent: 180%;
				white-space: nowrap;
				content: "";
				display: block;
				height: 51px;
				width: 70px;
				background-image: url('../images/slideArrow.svg');
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: -1;
			}
			&::after{
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: 100%;
				overflow: hidden;
				text-indent: 180%;
				white-space: nowrap;
				content: "";
				display: block;
				height: 13px;
				width: 7px;
				background-image: url('../images/arrow01.svg');
				position: absolute;
				top: 18px;
				right: 0px;
				transition: all 0.5s;
			}
		}
	}
}
.slider-top .mvSlideArea .slick-arrow.prev span:hover:after {
    left: -10px;
}
.box__home{
	margin-top: 80px;
	h2{
		@include fontSize(28px);
		font-family: $font_coi;
		color: #484848;
		text-align: center;
		span{
			margin-left: 10px;
			font-family: $font_utm;
			@include fontSize(16px);
		}
	}
	&-head{
		p{
			text-align: center;
		}
	}
}
.list-icon-product {
	text-align: center;
	h2{
		@include fontSize(18px);
		margin-top: 15px;
	}
	img{
		width: 121px;
		height: 123px;
		object-fit: cover;
		text-align: center;
	}
}
.product{
	padding-top: 40px;
	padding-bottom: 50px;
	margin-top: 80px;
	background: #f4f4f4;
	h2{
		text-align: center;
	}
	h3{
		position: relative;
		display: inline-block;
		margin-left: 70px;
		margin-bottom: 40px;
		&.rau{
			&::before{
				
				background: url('../images/icon-rau.png') no-repeat;
				background-size: 100% 100%;
			}
		}
		&.cafe{
			&::before{
				
				background: url('../images/icon-cafe.png') no-repeat;
				background-size: 100% 100%;
			}
		}
		&.dacsan{
			&::before{
				
				background: url('../images/icon-dacsan.png') no-repeat;
				background-size: 100% 100%;
			}
		}
		&::before{
			@extend %pos;
			width: 51px;
			height: 51px;
			top: -14px;
			left: -70px;
		}
		&::after{
			@extend %pos;
			width: 100%;
			height: 2px;
			background-color: #eecf50;
			bottom: -5px;
			left: 0;
		}
	}
	.avarta{
		position: relative;
		padding: 0 20px;
		img{
			height: 215px;
			object-fit: contain;
			width: 182px;
			text-align: center;
			margin: auto;
		}
	}
	.item-prd {
		border:1px solid #cdcccc;
		border-left: 0;
		background-color: #fff;
		height: 320px;
	}
	&-col{
		&:last-child{
			.item-prd {
				border-right: 0;
			}
		}
	}
	&__item{
		margin-bottom: 100px;
	}
	.info{
		margin-top: 20px;
		h4{
			font-family: $font_coi;
			@include fontSize(18px);
		}
		ins{
			text-decoration: none;
		}
	}
	.tempBtn{
		margin-top: 40px;
	}
}

.item-prd:hover .avr-abs {
    transform: scale(1);
}
.item-prd .avr-abs {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #00000078;
    pointer-events: none;
    transition: .3s all !important;
    transform: scale(0);
}
.item-prd .avr-abs span {
    display: inline-flex;
    height: 40px;
    border: 2px solid #eecf50;
    align-items: center;
    padding: 0 20px;
    border-radius: 6px;
}
.tempBtn{
	margin: 0 auto;
    text-align: center;
    width: 403px;
	a{
		background: url('../images/btnBg.svg') no-repeat 50% 0;
		cursor: pointer;
		color: #000;
		height: 64px;
		font-size: 114%;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: opacity .6s;
		text-decoration: none;
		&:hover{
			&::after{
				right: -12px;
			}
			
		}
		width: 100%;
		&::after{
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 100%;
			overflow: hidden;
			text-indent: 180%;
			white-space: nowrap;
			content: "";
			display: block;
			height: 15px;
			width: 8px;
			background-image: url('../images/arrow01.svg');
			position: absolute;
			top: 24px;
			right: -2px;
			transition: right .5s;
			
		}
	}
}

// product slider

.product-slider .slick-arrow {
    cursor: pointer;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    right: -14px;
    z-index: 20;
	cursor: pointer;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    right: -14px;
    z-index: 20;
	&.prev {
		span{
			position: absolute;
			left: -28px;
			transform: scale(-1,1);
		}
	}
	&.next {
		span{
			position: absolute;
			right: 0;
		}
	}
	span{
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
		position: relative;
		overflow: visible;
		content: "";
		display: block;
		height: 50px;
		width: 29px;
		background-image: url('../images/columnArrow.svg');
		&:hover{
			&::after{
				right: -11px;
			}
		}
		&::after{
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 100%;
			overflow: hidden;
			text-indent: 180%;
			white-space: nowrap;
			content: "";
			display: block;
			height: 15px;
			width: 8px;
			background-image: url('../images/arrow01.svg');
			position: absolute;
			top: 18px;
			right: 0;
			transition: all .5s;
			z-index: 20;
				
		}
	}
}

.news{
	margin-top: 80px;
	&-body{
		padding: 20px;
	}
	&-col{
		border: 1px solid #cdcccc;
		border-right: 0;
		&:last-child{
			border: 1px solid #cdcccc;
		}
	}
	&__info{
		text-align: left;
		padding: 20px;
		h3{
			position: relative;
			padding-left: 30px;
			font-weight: bold;
			margin-bottom: 20px;
			@include fontSize(20px);
			&::before{
				@extend %pos;
				width: 26px;
				height: 25px;
				left: -10px;
				background: url('../images/icon-news.svg') no-repeat;
			}
		}
	}
}
.avarta{
	position: relative;
}
.instagram{
	position: relative;
	&::before{
	}
	.row{
		position: relative;
	}
	margin-top: 80px;
	h2{
		margin-bottom: 40px;
		padding-top: 60px;
	}
}
.search-product{
	background-color: #f5f0e9;
	padding: 50px 0;
	margin-top: -50px;
	.container{
		max-width: 1100px;

	}
	.item-prd{
		background-color: #fff;
		padding-bottom: 30px;
	}
	.avarta{
		padding: 35px;
		margin-bottom: 15px;
		img{
			width: 200px;
			height: 200px;
			object-fit: cover;
		}
	}
	.product-col{
		margin-bottom: 30px;
	}
}
// footer
.footer{
	background: #eecf50;
	ul{
		padding-left: 0;
		li{
			margin-bottom: 20px;
		}
	}
	&-logo {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		font-weight: bold;
		img{
			max-width: 57px;
			margin-right: 10px;
		}
	}
	&-item{
		h5{
			@include fontSize(16px);
			margin-bottom: 30px;
			font-weight: bold;
		}
		ul{
			li{
				img{
					max-width: 20px;
					margin-right: 20px;
				}
			}
		}
	}
}

.bg-head{
	background: #F1ECE3;
    padding: 58px 0 45px;
    margin-bottom: 50px;
	h1{
		font-family: $font_coi;
		@include fontSize(30px);
	}
}

.rando__movie-body {
	text-align: center;
	position: relative;
	max-width: 1000px;
	margin: 0 auto 90px;
	img {
		height: 560px;
		object-fit: cover;
		border-radius: 30px;
	}
	.btn-movie{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: $font_coi;
		color: #fff;
		span{
			display: block;
			
		}
		img{
			width: 90px;
			height: 90px;
		}
	}
}

.rando__movie .modal-dialog {
	max-width: 1140px;
	padding-top: 100px;
}
  
.rando__movie .modal-body {
	padding: 0;
}
  
.rando__movie .btn-close {
	position: absolute;
	right: 0;
	top: -70px;
	width: 35px;
	height: 35px;
	background: url("../images/btn-close.svg") no-repeat;
	background-size: 100%;
}
  
  .rando__movie h2 {
	margin-bottom: 30px;
  }
  
  .rando__movie iframe {
	width: 80vw;
	height: 80vh;
  }
.about{
	&-item{
		h3{
			font-weight: bold;
		}
	}
}
.chungchi{
	margin-top: 50px;
	h4, h3, h5{
		font-weight: bold;
		margin-bottom: 30px;
	}
	&-row{
		margin: 10px auto 0;
	}
	.list-dot{
		padding: 0;
	}
}
.list-dot{
	li{
		position: relative;
		list-style: none;
		padding-left: 40px;
		margin-bottom: 18px;
		&::before{
			@extend %pos;
			background: url('../images/icon-chungchi.svg') no-repeat;
			width: 19px;
			height: 24px;
			left: 0;
			top: 0;
		}
	}
}
.page-content {
    margin-bottom: 100px;
}
.icon-lienhe{
	position: relative;
	font-weight: bold;
	padding-left: 30px;
	&::before{
		@extend %pos;
		background: url('../images/icon-contact.svg') no-repeat;
		width: 20px;
		height: 20px;
		left: 0;
		top: 4px;
	}
}
.lienhe{
	.icon-lienhe{
		margin-bottom: 30px;
		span{
			margin-top: 5px;
			font-family: 'Josefin Sans', sans-serif;
			display: block;
			@include fontSize(12px);
			text-transform: uppercase;
		}
	}
	&-row{
		align-items: center;
	}
}
.list-contact li {
    margin-bottom: 20px;
    font-family: 'Josefin Sans';
    @include fontSize(20px);
}
.map {
    max-width: 1000px;
    margin: 80px auto 5px;
	border: 20px solid #F2E6DB;
	iframe{
		width: 100%;
		height: 500px;
	}
}
.tit-map {
    font-family: 'Josefin Sans';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
	a{
		margin-left: 15px;
	}
}

// news
.news{
	.icon-news-content{
		padding-left: 40px;
		margin-bottom: 50px;
		font-weight: bold;
		font-family: 'Josefin Sans';
		@include fontSize(25px);
	}
}
.icon-news-content{
	position: relative;
	&:before{
		@extend %pos;
		background: url('../images/icon-new.svg') no-repeat;
		left: 0;
		width: 26px;
		height: 25px;
		top: 0;
	}
}

.collection{
	.product-col{
		.info{
			h4{
				font-family: $font_coi;
				@include fontSize(20px);
			}
			bdi{
				font-family: 'Josefin Sans';
			}
			.woocommerce-Price-currencySymbol{
				font-family: $font_utm;
			}
		}
	}
}
#sort-by{
	margin-bottom: 40px;
	ul{
		list-style: none;
		padding-left: 0;
		li{
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			> span{
				font-weight: bold;
				margin-right: 20px;
			}
			ul{
				display: flex;
			}
		}
	}
	.ul_2{
		li{
			margin: 0 5px;
			a{
				@include fontSize(12px);
				position: relative;
				&:before{
					@extend %pos;
					width: 100%;
					height: 1px;
					background-color: #000;
					bottom: -2px;
				}
			}
			&.active{
				a{
					color: #de2d59;
				}
			}
		}
	}
}